<div class="container-sm">

  <h3 class="text-info">Organizational Units Administration</h3>

  <div class="card text-white bg-info text-end">
    <div class="card-body">
      <h4 class="card-title">Organizations</h4>
      <input type="submit" class="btn btn-info btn-sm" (click)="addNewOu()" value="+" />
    </div>

    <div class="row">
      <div class="col-7 pb-3">
        <input type="text" class="filter form-control form-control-sm" placeholder="search by name of organization" [(ngModel)]="ouSearchTerm" name="_ouSearchTerm" (keyup)="getOus(ouSearchTerm)" autocomplete="off">
        @if (ous.length > 0) {
          <div>
            @for (ou of ous; track ou) {
              <ul class="list-group" (clickOutside)="closeOus()">
                <li class="list-group-item list-group-item-action list-group-item-info text-start py-0 d-flex no-gutters" (click)="selectOu(ou)">
                  <small>{{ou.metadata.name}} - {{ou.objectId}} - {{ou.publicStatus}} <-- {{ou.parentAffiliation?.name}}</small>
                </li>
              </ul>
            }
          </div>
        }
      </div>
    </div>

    <div class="row w-100">
      <div class="col-1 ms-start">
        <input type="button" class="btn btn-outline-info text-white btn-sm me-2" (click)="collapsAll()" value="collapse all" />
      </div>
    </div>

    <cdk-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
      <cdk-tree-node *cdkTreeNodeDef="let node; when: hasNotChildAndIsNotSelected" cdkTreeNodePadding (click)="gotoOu(node)" class="list-group-item list-group-item-action list-group-item-info text-info py-0 d-flex flex-sm-row no-gutters align-items-center">
        {{node.ouName}} - {{node.ouId}} - {{node.ouStatus}}
      </cdk-tree-node>
      <cdk-tree-node *cdkTreeNodeDef="let node; when: hasNotChildAndIsSelected" cdkTreeNodePadding (click)="gotoOu(node)" class="list-group-item list-group-item-action list-group-item-info text-info py-0 d-flex flex-sm-row no-gutters align-items-center selected-node">
        {{node.ouName}} - {{node.ouId}} - {{node.ouStatus}}
      </cdk-tree-node>
      <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChildAndIsNotSelected" cdkTreeNodePadding (click)="gotoOu(node)" class="list-group-item list-group-item-action list-group-item-info text-info py-0 d-flex flex-sm-row no-gutters align-items-center">
        <span class="mr-2 boldandlarger" cdkTreeNodeToggle (click)="loadChildren(node)">{{treeControl.isExpanded(node) ? '&horbar;&NonBreakingSpace;' : '>&NonBreakingSpace;'}}</span>
        {{node.ouName}} - {{node.ouId}} - {{node.ouStatus}}
      </cdk-tree-node>
      <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChildAndIsSelected" cdkTreeNodePadding (click)="gotoOu(node)" class="list-group-item list-group-item-action list-group-item-info text-info py-0 d-flex flex-sm-row no-gutters align-items-center selected-node">
        <span class="mr-2 boldandlarger" cdkTreeNodeToggle (click)="loadChildren(node)">{{treeControl.isExpanded(node) ? '&horbar;&NonBreakingSpace;' : '>&NonBreakingSpace;'}}</span>
        {{node.ouName}} - {{node.ouId}} - {{node.ouStatus}}
      </cdk-tree-node>
    </cdk-tree>
  </div>
</div>
