 .boldandlarger {
    font-size: 125%;
 }

 .filter:focus {
   border: 2px solid indigo;
   outline: none;
   box-shadow: 0 0 3px gray;
 }

 .selected-node {
   font-weight: bold;
   border-left: 4px solid #17a2b8; /* info color */
 }

