<div class="container">
  <div *ngIf="isNewIndex; then tmplNewIndex else tmplNoNewIndex"></div>

  <ng-template #tmplNewIndex>
    <div class="card border-secondary text-secondary text-end">
      <div class="card-header border-secondary bg-white">
        <h4 class="text-secondary card-title">Details 4 {{indexName?.toLocaleLowerCase()}}</h4>
      </div>
      <form #form="ngForm" class="list-group-item text-secondary" novalidate>
        <div class="row w-100 mt-3">
          <label class="col-2 col-form-label col-form-label-sm">name*</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="indexName" name="_indexname" #idxName="ngModel" required minlength="4" forbiddenName="new">
            <div class="text-danger">
              <div *ngIf="idxName.errors?.required">name is required.</div>
              <div *ngIf="idxName.errors?.minlength">name must be at least 4 characters long (in lowercase).</div>
              <div *ngIf="idxName.errors?.forbiddenName">name MUST NOT be 'new'.</div>
            </div>
          </div>
        </div>
        <div class="row w-100 mt-3">
          <label class="col-2 col-form-label col-form-label-sm">settings*</label>
          <div class="col-10">
            <select class="select form-select form-select-sm" ngModel name="_settings" (ngModelChange)="onChangeSettings($event)" required>
              <option [ngValue]="setting.index" *ngFor="let setting of list">{{setting.index}}</option>
            </select>
          </div>
        </div>
        <div class="row w-100 mt-3">
          <label class="col-2 col-form-label col-form-label-sm">mappings*</label>
          <div class="col-10">
            <select class="select form-select form-select-sm" ngModel name="_mapping" (ngModelChange)="onChangeMappings($event)" required>
              <option [ngValue]="mapping.index" *ngFor="let mapping of list">{{mapping.index}}</option>
            </select>
          </div>
        </div>
        <div class="row w-100 mt-3">
          <div class="col-2 ms-auto">
            <input type="button" class="btn btn-outline-secondary btn-sm me-2" (click)="gotoList()" value="cancel" />
            <input type="button" [disabled]="!form.valid" class="btn btn-outline-secondary btn-sm" (click)="save()" value="save" />
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #tmplNoNewIndex>
    <div class="card border-secondary text-secondary mt-2">
      <div class="card-header border-secondary text-end bg-white">
        <h4 class="text-secondary card-title">{{indexName}}</h4>
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <ul class="nav flex-column nav-pills" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="pill" data-bs-target="#index-info" role="tab">Info</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" data-bs-target="#index-settings" role="tab">Settings</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" data-bs-target="#index-mapping" role="tab">Mapping</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="pill" data-bs-target="#index-aliases" role="tab">Aliases</a></li>
          </ul>
        </div>
        <div class="col-10">
          <div class="tab-content">
            <div class="tab-pane fade" id="index-settings" role="tabpanel">
              <pre class="m-3">{{settings | json}}</pre>
            </div>
            <div class="tab-pane fade" id="index-mapping" role="tabpanel">
              <pre class="m-3">{{mapping | json}}</pre>
            </div>
            <div class="tab-pane fade" id="index-aliases" role="tabpanel">
              <input type="button" class="btn btn-sm btn-outline-secondary me-2" (click)="addAlias(indexName)" value="add" />
              <input type="button" class="btn btn-sm btn-outline-secondary" (click)="removeAlias(indexName)" value="remove" />
              <pre class="m-3">{{aliases | json}}</pre>
            </div>
            <div class="tab-pane fade show active" id="index-info" role="tabpanel">
              <input type="button" class="btn btn-sm btn-outline-secondary me-2" (click)="openOrClose(indexInfo)" [value]="indexInfo?.status === 'open' ? 'close' : 'open'" />
              <pre class="m-3">{{indexInfo | json}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>