<div class="container-fluid">
    <h3 class="text-primary">search 4 items</h3>
    <div class="row">
        <div class="col-3">
    <div class="card-deck">
        <div class="card card-outline-primary text-right">
            <div class="card-block">
                <h4 class="card-title">items / creationDate</h4>
            </div>
            <ul class="list-group list-group-flush h-100">
                <li silver class="list-group-item text-primary p-1 justify-content-end" *ngFor="let year of years" (click)="onSelectYear(year)">
                  <span class="badge badge-primary">{{year.doc_count}}</span>
          <span class="text-primary ml-2">{{year.key_as_string.substring(0,4)}}</span>
                    <li>
            </ul>
        </div>
        <div class="card card-outline-primary text-right">
            <div class="card-block">
                <h4 class="card-title">items / genre</h4>
            </div>
            <ul class="list-group list-group-flush h-100">
                <li silver class="list-group-item text-primary p-1 justify-content-end" *ngFor="let genre of genres" (click)="onSelectGenre(genre)">
                    <span class="badge badge-primary">{{genre.doc_count}}</span>
          <span class="text-primary ml-2">{{genre.key}}</span>
                    <li>
            </ul>
        </div>
        <div class="card card-outline-primary text-right">
            <div class="card-block">
                <h4 class="card-title">items / publisher</h4>
            </div>
            <ul class="list-group list-group-flush h-100">
                <li silver class="list-group-item text-primary justify-content-end p-1" *ngFor="let publisher of publishers" (click)="onSelectPublisher(publisher)">
                   <span class="badge badge-primary">{{publisher.doc_count}}</span>
          <span class="text-primary ml-2">{{publisher.key}}</span>
                    <li>
            </ul>
        </div>
    </div>
        </div>
        <div class="col-9">
    <div>
      <ul class="list-group list-group-flush h-100">
                <li silver class="list-group-item text-primary justify-content-start p-1" *ngFor="let item of items" (click)="onSelect(genre)">
                    <span class="badge badge-primary">{{item.version.objectId}}</span>
                              <span class="text-primary ml-2">{{item.metadata.genre}}</span>

          <span class="text-primary ml-2">{{item.metadata.title}}</span>
                    <span class="text-primary ml-2">{{item.creationDate}}</span>
                    <span class="text-primary ml-2">{{item.metadata.sources[0]?.publishingInfo?.publisher}}</span>
                    <span class="text-primary ml-2">{{item.metadata.datePublishedInPrint}}</span>
                    <span class="text-primary ml-2">{{item.metadata.datePublishedOnline}}</span>
                    <span class="text-primary ml-2">{{item.metadata.dateAccepted}}</span>
                    <span class="text-primary ml-2">{{item.metadata.dateCreated}}</span>
                    <span class="text-primary ml-2">{{item.metadata.dateModified}}</span>

                    <li>
            </ul>
    </div>
        </div>
    </div>
</div>
