<!--<div class="modal-body">-->
    <div class="d-flex flex-sm-row border" *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success border-success': message.type === 'success', 'alert-warning border-warning': message.type === 'warning', 'alert-danger border-danger': message.type === 'error' }">
        <div class="col-sm-11">
            <span><small>{{message.text}}</small></span>
        </div>
        <div class="col-sm-1 ml-auto">
            <button type="button" class="close" [ngClass]="{ 'text-primary': text, 'text-success': message.type === 'success', 'text-warning': message.type === 'warning', 'text-danger': message.type === 'error' }"
                data-dismiss="alert" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
<!--</div>-->
