<div *ngIf="message"
    [ngClass]="{ 'alert': message, 'alert-success border-success': message.type === 'success', 'alert-warning border-warning': message.type === 'warning', 'alert-danger border-danger': message.type === 'error' }">
    <div class="col-sm-11">
        <h2 mat-dialog-title>{{message.type}}</h2>
    </div>
    <mat-dialog-content>{{message.text}}</mat-dialog-content>
    <mat-dialog-actions class="center-button">
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
