<div class="container-xl">

  <h3>Search</h3>

  <nav class="navbar navbar-expand-md navbar-light bg-light py-0">
    <div class="container-fluid px-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContentSearch">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContentSearch">
        <ul class="nav navbar-nav me-auto" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="./users">Users</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./organizations">Organizations</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./contexts">Contexts</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="./items">Items</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>