<div class="container">
  <div class="card border-secondary text-end text-secondary mt-2">
    <div class="card-header border-secondary bg-white">
      <h4 class="text-secondary card-title">Indices List</h4>
      <input type="submit" class="btn btn-outline-secondary btn-sm" (click)="addNewIndex()" value="+" />
    </div>
    <div class="list-group-flush m-2">
      <div class="list-group-item list-group-item-secondary list-group-item-action py-0 d-flex flex-sm-row no-gutters align-items-center" *ngFor="let index of indices" (click)="goTo(index.index)">
        <span class="col-sm-1 text-end me-2">{{index['docs.count']}}</span>
        <span class="col-sm-4 text-start text-truncate">{{index.index || index}}</span>
        <span class="col-sm-3 text-start text-truncate">{{index.status}}</span>
        <span class="col-sm-3 text-start text-truncate">{{index.alias}}</span>
        <div class="col-sm-1">
          <input type="submit" class="btn btn-outline-secondary btn-sm float-end me-2" (click)="delete(index); $event.stopPropagation()" value="x" />
        </div>
      </div>
    </div>
  </div>
  <!--<pre>{{aliases | json}}</pre>-->
  <!--<pre>{{indices | json}}</pre>-->
  <!--<pre>{{aliasForm.value | json}}</pre>-->
</div>