<div class="container-sm">

  <h3 class="text-secondary">User Administration</h3>

  <div class="card text-white bg-secondary text-end">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <input type="submit" class="btn btn-secondary btn-sm" value="+" (click)="addNewUser()" />
    </div>

    <div class="row">
      <div class="col-7">
        <input class="filter form-control form-control-sm" type="text" placeholder="filter by name of organization" [(ngModel)]="ouSearchTerm" (keyup)="getOus(ouSearchTerm)" autocomplete="off">
        @if (ous.length > 0) {
          <div>
            <ul class="list-group" (clickOutside)="closeOus()">
              @for (ou of ous; track ou) {
                <li class="list-group-item list-group-item-action list-group-item-secondary text-start py-0" (click)="gotoFilteredOu(ou)">
                  <small>{{ou.metadata.name}} - {{ou.objectId}} - {{ou.publicStatus}} <-- {{ou.parentAffiliation?.name}}</small>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <input class="filter form-control form-control-sm" type="text" placeholder="search by name of user" [(ngModel)]="userNameSearchTerm" (keyup)="getUsersByName(userNameSearchTerm)" autocomplete="off">
        @if (usersByName.length > 0) {
          <div>
            <ul class="list-group" (clickOutside)="closeUsersByName()">
              @for (user of usersByName; track user) {
                <li class="list-group-item list-group-item-action list-group-item-secondary text-start py-0" (click)="selectUserByName(user)">
                  @if (!user.affiliation) {
                    <small>{{user.name}} - {{user.objectId}} - {{user.active === true ? 'ACTIVE' : 'DEACTIVATED'}} <-- N.N.</small>
                  }
                  @if (user.affiliation) {
                    <small>{{user.name}} - {{user.objectId}} - {{user.active === true ? 'ACTIVE' : 'DEACTIVATED'}} <-- {{user.affiliation.name}}</small>
                  }
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <input class="filter form-control form-control-sm" type="text" placeholder="search by loginname of user" [(ngModel)]="userLoginSearchTerm" (keyup)="getUsersByLogin(userLoginSearchTerm)" autocomplete="off">
        @if (usersByLogin.length > 0) {
          <div>
            <ul class="list-group" (clickOutside)="closeUsersByLogin()">
              @for (user of usersByLogin; track user) {
                <li class="list-group-item list-group-item-action list-group-item-secondary text-start py-0" (click)="selectUserByLogin(user)">
                  @if (!user.affiliation) {
                    <small>{{user.loginname}} - {{user.objectId}} - {{user.active === true ? 'ACTIVE' : 'DEACTIVATED'}} <-- N.N.</small>
                  }
                  @if (user.affiliation) {
                    <small>{{user.loginname}} - {{user.objectId}} - {{user.active === true ? 'ACTIVE' : 'DEACTIVATED'}} <-- {{user.affiliation.name}}</small>
                  }
                </li>
              }
            </ul>
          </div>
        }
      </div>
      <div class="col-5">
        @if (total > 0) {
          <div class="has-text-centered">
            <pagination-controls class="admin-pagination" id="iPaginator" previousLabel="prev" nextLabel="next" maxSize="9" (pageChange)="gotoFilteredPage($event)"></pagination-controls>
          </div>
        }
      </div>
    </div>

    <ul class="list-group">
      @for (user of users | paginate: { id: 'iPaginator', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }; track user) {
        <li class="list-group-item list-group-item-action list-group-item-secondary text-secondary py-0" (click)="gotoUser(user)">
          <div class="row">
            <span class="col-3"><label class="col-form-label-sm p-0 ms-2">{{user.name}}</label></span>
            <span class="col-3 text-start text-truncate"><label class="col-form-label-sm p-0">{{user.loginname}}</label></span>
            <span class="col-1"><label class="col-form-label-sm p-0">{{user.objectId}}</label></span>
            <span class="col-1 text-start"><label class="col-form-label-sm p-0">{{user.active === true ? 'ACTIVE' : 'DEACTIVATED'}}</label></span>
            @if (!user.affiliation) {
              <span class="col-4 text-start text-truncate"><label class="col-form-label-sm p-0">N.N.</label></span>
            }
            @if (user.affiliation) {
              <span class="col-4 text-start text-truncate"><label class="col-form-label-sm p-0">{{user.affiliation?.name}}</label></span>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
