<div [formGroup]="indexAliasForm">
  <div class="row w-100 mx-1">
    <div class="col-2">
    <select class="select form-select form-select-sm border-secondary" formControlName="action" (change)="onActionSelect($event.target.value)">
      <option *ngFor="let action of actions" [value]="action">{{action}}</option>
    </select>
    </div>
    <div class="col-5">
      <select class="select form-select form-select-sm border-secondary" formControlName="index" (change)="onIndexSelect($event.target.value)">
        <option [value]=null></option>
        <option *ngFor="let index of indexList" [value]="index.index">{{index.index}}</option>
      </select>
    </div>
    <div *ngIf="indexAliasForm.get('action').value === 'add'" class="col-4">
      <input class="form-control form-control-sm border-secondary" type="text" formControlName="alias">
    </div>
    <div *ngIf="indexAliasForm.get('action').value === 'remove'" class="col-4">
      <select class="select form-select form-select-sm border-secondary" formControlName="alias" (change)="onAliasSelect($event.target.value)">
        <option *ngFor="let index of indexList" [value]="index.alias">{{index.alias}}</option>
      </select>
    </div>
    <div class="col-1">
      <input type="button" class="btn btn-outline-secondary btn-sm ms-1 float-end" (click)="removeAliasForm()" value="-" />
      <input type="button" class="btn btn-outline-secondary btn-sm ms-1 float-end" (click)="addAliasForm()" value="+" />
    </div>
  </div>
</div>