<div class="container-fluid">
  <h3 class="text-primary">Home of Administration</h3>

  <div class="card-deck">
    <div class="card bg-primary text-light text-right">
      <div class="card-body">
        <h4 class="card-title">User Administration</h4>
        <p class="card-text">Create, update or delete ...</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action list-group-item-primary justify-content-end p-1">
          <span class="badge badge-primary badge-pill">tons of</span>
          <span class="text-primary ml-2" data-toggle="tooltip" data-placement="right" title="YES! users">users</span>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary justify-content-end p-1">
          <span class="badge badge-primary badge-pill">some</span>
          <span class="text-primary ml-2">contexts</span>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-primary justify-content-end p-1">
          <span class="badge badge-primary badge-pill">many</span>
          <span class="text-primary ml-2">organizations</span>
        </li>
      </ul>
      <div class="card-footer">
        <a [routerLink]="['/users']" class="card-link text-light">User Administration</a>
      </div>
    </div>
    <div class="card bg-info text-light text-right">
      <div class="card-body">
        <h4 class="card-title">Find Resources</h4>
        <p class="card-text">and irrevocably purge ...</p>
      </div>
      <ul class="list-group list-group-flush">
        <li selected-item-color="#8ee4f1" class="list-group-item list-group-item-info justify-content-end p-1">
          <span class="badge badge-info badge-pill">{{items}}</span>
          <span class="ml-2">items</span>
        </li>
        <li selected-item-color="#8ee4f1" class="list-group-item list-group-item-info justify-content-end p-1">
          <span class="badge badge-info badge-pill">{{contexts}}</span>
          <span class="ml-2">contexts</span>
        </li>
        <li selected-item-color="#8ee4f1" class="list-group-item list-group-item-info justify-content-end p-1">
          <span class="badge badge-info badge-pill">{{ous}}</span>
          <span class="ml-2">organizational units</span>
        </li>
      </ul>
      <div class="card-footer">
        <a [routerLink]="['/search']" class="card-link text-light">Have fun with resource deletion ...</a>
      </div>
    </div>
    <div class="card bg-success text-light text-right">
      <div class="card-body">
        <h4 class="card-title">More 2 come ...</h4>
        <p class="card-text">... ask your developer </p>
      </div>
      <ul class="list-group list-group-flush h-100">
        <li selected-item-color="#91eed2" class="list-group-item list-group-item-success justify-content-end p-1">
          <span class="badge badge-success badge-pill">Indices</span>
          <span class="ml-2">aliasing, mapping, reindexing ...</span>
        </li>
        <li selected-item-color="#91eed2" class="list-group-item list-group-item-success justify-content-end p-1">
          <span class="badge badge-success badge-pill">External Services</span>
          <span class="ml-2">Cone, GND, ... </span>
        </li>
      </ul>
      <div class="card-footer">
        <a [routerLink]="['/indices']" class="card-link text-light">Select an index</a>
      </div>
    </div>
  </div>
</div>