<form #f1="ngForm" [hidden]="loggedIn" *ngIf="empty">
  <div class="row g-1">
    <div class="col validation-field-parent">
      <input type="text" class="form-control form-control-sm py-0" name="username" [(ngModel)]="credentials.username" #username="ngModel" placeholder="loginname" required />
      <div *ngIf="username.invalid && username.touched" class="form-text text-danger validation-message">required*</div>
    </div>
    <div class="col validation-field-parent">
      <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="credentials.password" #password="ngModel" placeholder="password" required />
      <div *ngIf="password.invalid && password.touched" class="form-text text-danger validation-message">required*</div>
    </div>
    <div class="col-auto">
      <input type="submit" [disabled]="f1.invalid" class="btn btn-outline-primary btn-sm" name="login" value="login" (click)="login()" />
    </div>
  </div>
</form>

<form #f2="ngForm" [hidden]="!loggedIn">
  <div class="row g-1">
    <div class="col align-self-center">
      <small class="form-text text-primary"><span>Welcome</span></small>
    </div>
    <div class="col align-self-center">
      <small class="form-text text-muted"><span>{{credentials.username}} </span></small>
    </div>
    <div class="col">
      <a class="btn btn-outline-primary btn-sm" routerLink="/home" (click)="logout()">Logout</a>
    </div>
  </div>
</form>