<div class="container-sm">

  <div class="row">

    <div class="col">
      <div class="card text-end">
        <img class="card-img-top" src="./assets/pure.png"alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Administration</h3>
          <p class="card-text">you\’re connected to
            <strong>{{hostName}}</strong>
          </p>
        </div>
        <div class="card-footer py-1">
          <img src="./assets/mpdl.png" width="30%" height="auto" />
        </div>
      </div>
    </div>

    <div class="col">

      <div class="row">

        <div class="col">
          <div class="card border-primary text-end">
            <div class="card-body text-primary">
              <h4 class="card-title">Users</h4>
              <p class="card-text">Create new users, assign privileges, update or delete ...</p>
            </div>
            <div class="card-footer bg-primary py-1">
              <a routerLink="users" class="card-link text-light">User Administration</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col gy-3">
          <div class="card border-info text-end">
            <div class="card-body text-info">
              <h4 class="card-title">Organizations</h4>
              <p class="card-text">Create children, update or delete descriptions ...</p>
            </div>
            <div class="card-footer bg-info py-1">
              <a routerLink="organizations" class="card-link text-light">Ou Administration</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col gy-3">
          <div class="card border-success text-end">
            <div class="card-body text-success">
              <h4 class="card-title">Contexts</h4>
              <p class="card-text">Update or delete allowed genres ...</p>
            </div>
            <div class="card-footer bg-success py-1">
              <a routerLink="contexts" class="card-link text-light">Context Administration</a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
