/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.isis-mat-dialog .mat-dialog-container {
  padding: 0 !important;
  transition: none !important;
  background: none;
  box-shadow: none !important;
};
a { cursor: pointer; };