/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.isis-mat-dialog .mat-dialog-container {
  padding: 0 !important;
  transition: none !important;
  background: none;
  box-shadow: none !important;
};

a { cursor: pointer; };

/* VALIDIERUNG */
// roter Rahmen um fehlerhaftes Eingabefeld
input.ng-invalid.ng-touched {
  border: 1px solid #f00;
}
// Positionierung für direkten Parent des Eingabefeldes
.validation-field-parent {
  position:relative;
}
// Positionierung für Fehlermeldung im Eingabefeld
.validation-message {
  position:absolute; top: -10%; right: 5px;
}
/* END VALIDIERUNG */
