<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-0">
<div class="container-fluid" id="navbarNav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <nav class="navbar-nav me-auto">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-link" routerLink="/organizations" routerLinkActive="active">OUs</a>
        <a class="nav-link" routerLink="/contexts" routerLinkActive="active">Contexts</a>
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
        <a class="nav-link" routerLink="/elastic" routerLinkActive="active">ESAdmin</a>
      </nav>
      <authentication-component></authentication-component>
    </div>
  </div>
</nav>