<div class="container">
	<div class="row w-100">
		<div class="col-4">
			<select class="select form-select form-select-sm" [(ngModel)]="selectedRole" (ngModelChange)="onChangeRole($event)">
				<option [ngValue]="role" *ngFor="let role of roles">{{role}}</option>
			</select>
		</div>
		<div *ngIf="selectedRole && (selectedRole === 'DEPOSITOR' || selectedRole === 'MODERATOR')">
			<input type="text" class="form-control form-control-sm" placeholder="filter by name of context" [(ngModel)]="filterText" (ngModelChange)="filterCtxs($event)" />
			<select class="select form-select form-select-sm" [(ngModel)]="selectedCtx" (ngModelChange)="onChangeCtx($event)">
				<option [ngValue]="ctx" *ngFor="let ctx of filteredCtxs">{{ctx.name}} - {{ctx.objectId}} - {{ctx.state}} <-- {{ctx.responsibleAffiliations[0].name}}</option>
			</select>
		</div>
		<div *ngIf="selectedRole && selectedRole === 'LOCAL_ADMIN'" class="col-7">
			<select class="select form-select form-select-sm" [(ngModel)]="selectedOu" (ngModelChange)="onChangeOu($event)">
				<option [ngValue]="ou" *ngFor="let ou of ous">{{ou.metadata.name}} - {{ou.objectId}} - {{ou.publicStatus}} <-- {{ou.parentAffiliation?.name}}</option>
			</select>
		</div>
		<div *ngIf="!selectedRole" class="col-7">
			<input type="text" class="form-control form-control-sm" value="select a role ..." readonly />
		</div>
	</div>

	<div class="row w-100 mt-1">
		<div *ngIf="selectedOu && selectedRole && selectedRole === 'LOCAL_ADMIN'" class="col-1">
			<input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="validateSelection()" value="add" />
		</div>
	</div>

	<div class="row w-100 mt-1">
		<div *ngIf="selectedCtx && selectedRole && (selectedRole === 'DEPOSITOR' || selectedRole === 'MODERATOR')" class="col-1">
			<input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="validateSelection()" value="add" />
		</div>
	</div>

	<div class="row w-100 mt-1">
		<div *ngIf="selectedRole && (selectedRole.startsWith('CONE') || selectedRole === 'REPORTER')" class="col-1">
			<input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="validateSelection()" value="add" />
		</div>
	</div>

	<div class="row w-100 mt-1">
		<div class="col-11">
			<textarea class="form-control form-control-sm" rows="3" [(ngModel)]="grantsToAdd" readonly></textarea>
		</div>
		<div class="col-1">
			<input *ngIf="grantsToAdd" type="button" class="btn btn-outline-primary btn-sm float-start" (click)="addGrants()" value="add grants" />
			<input *ngIf="grantsToAdd" type="button" class="btn btn-outline-primary btn-sm float-start mt-1" (click)="resetGrants()" value="clear list" />
		</div>
	</div>
</div>