<div *ngIf="user" class="container">
    <div class="card text-white bg-primary text-end">
        <div class="card-body">
            <h4 class="card-title">{{user.loginname}}</h4>
        </div>
        
        <form #form="ngForm" class="list-group-item text-primary" (ngSubmit)="form.valid && saveUser()" novalidate>
            <div class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">loginname</label>
                <div class="col-7">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.loginname" name="_loginname" #loginName="ngModel" required minlength="4" value-not-allowed="new user" [readonly]="!isNewUser">
                    <div *ngIf="loginName.invalid && (loginName.dirty || loginName.touched)" class="text-danger">
                        <div *ngIf="loginName.errors.required">loginname is required.</div>
                        <div *ngIf="loginName.errors.minlength">loginname must be at least 4 characters long.</div>
                        <div *ngIf="loginName.errors.value-not-allowed">loginname MUST NOT be 'new user'.</div>
                    </div>
                </div>
                <label *ngIf="!isNewUser" class="col-1 col-form-label col-form-label-sm">id</label>
                <div *ngIf="!isNewUser" class="col-2">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.objectId" name="_userId" readonly>
                </div>
            </div>

            <div *ngIf="!isNewUser && !isNewOu" class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">organization</label>
                <div *ngIf="user.affiliation && user.active !== true" class="col-7">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.affiliation.name" name="_userOu" readonly>
                </div>
                <div *ngIf="user.affiliation && user.active === true" class="col-6">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.affiliation.name" name="_userOu" readonly>
                </div>
                <div *ngIf="user.active === true" class="col-1">
                    <input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="changeOu()" value="change" />
                </div>
                <label class="col-1 col-form-label col-form-label-sm">ouId</label>
                <div *ngIf="user.affiliation" class="col-2">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="user.affiliation.objectId" name="_ouId" readonly>
                </div>
                <div *ngIf="!user.affiliation" class="col-2">
                  <input type="text" class="form-control form-control-sm" readonly>
                </div>
            </div>
  
            <div *ngIf="isNewUser || isNewOu" class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">organization</label>
                <div class="col-7">
                    <input type="text" class="form-control form-control-sm" placeholder="search by name of organization" [(ngModel)]="ouSearchTerm" name="_ouSearchTerm" (keyup)="getOus(ouSearchTerm)" autocomplete="off">
                    <div *ngIf="ous.length > 0">
                        <ul class="list-group" (clickOutside)="closeOus()">
                            <li *ngFor="let ou of ous" class="list-group-item-primary list-group-item-action py-0 text-start" (click)="selectOu(ou)">
                                <small>{{ou.metadata.name}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <label class="col-1 col-form-label col-form-label-sm">ouId</label>
                <div *ngIf="user.affiliation" class="col-2">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="user.affiliation.objectId" name="_ouId" readonly>
                </div>
                <div *ngIf="!user.affiliation" class="col-2">
                    <input type="text" class="form-control form-control-sm" readonly>
                </div>
              </div>

            <div class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">password</label>
                <div class="col-2">
                    <input type="password" class="form-control form-control-sm" [(ngModel)]="user.password" name="_password" readonly>
                </div>
                <div *ngIf="!isNewUser && user.active == true && user.password" class="col-2">
                    <input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="generateRandomPassword(user)" value="reset" />
                    <input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="resetPassword(user)" value="save" />
                </div>
                <div *ngIf="user.active == true && !user.password" class="col-2">
                    <input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="generateRandomPassword(user)" value="reset" />
                </div>
            </div>

            <div *ngIf="isNewUser" class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">active</label>
                <div class="col-2">
                    <select class="select form-select form-select-sm" [(ngModel)]="user.active" name="_active">
	    			<option [ngValue]>true</option>
	    			<option [ngValue]>false</option>
    			</select>
                </div>
            </div>

            <div *ngIf="!isNewUser" class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">active</label>
                <div class="col-2">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.active" name="_active" readonly>
                </div>
                <div class="col-2">
                    <input *ngIf="!isNewOu" type="button" class="btn btn-outline-primary btn-sm float-start" (click)="activateUser(user)" [value]="user.active === false ? 'activate' : 'deactivate'" />
                </div>
            </div>

            <div class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">name</label>
                <div class="col-7">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="user.name" name="_userName" #userName="ngModel" required>
                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
                        <div *ngIf="userName.errors.required">name is required.</div>
                    </div>
                </div>
            </div>

            <div class="row w-100 mt-3">
                <label class="col-2 col-form-label col-form-label-sm">email</label>
                <div class="col-7">
                    <input type="email" class="form-control form-control-sm" [(ngModel)]="user.email" name="_email">
                </div>
            </div>

            <div class="row w-100 mt-4">
                <div class="col-3 ms-auto">
                    <input type="button" class="btn btn-outline-primary btn-sm me-2" (click)="gotoUserList()" value="cancel" />
                    <input *ngIf="!isNewUser && isAdmin" type="button" class="btn btn-outline-primary btn-sm me-2" (click)="deleteUser(user)" value="delete" />
                    <input type="button" class="btn btn-outline-primary btn-sm" (click)="saveUser(user)" value="save" />
                </div>
            </div>

            <div *ngIf="!isNewUser" class="w-100">
                <div class="row w-100 mt-5">
                    <label class="col-2 col-form-label col-form-label-sm">grants</label>
                    <div class="col-10 text-end">
                        <ul class="list-group">
                            <li class="list-group-item-primary list-group-item-action py-0 align-items-center" *ngFor="let grant of user.grantList" (click)="goToRef(grant)">
                                <div class="row">
                                    <span class="col-3 text-start text-truncate"><label class="col-form-label-sm p-0 ms-2">{{grant.role}}</label></span>
                                    <span class="col-7 text-start text-truncate"><label class="col-form-label-sm p-0">{{grant.objectName}}</label></span>
                                    <span class="col-1 text-start"><label class="col-form-label-sm p-0">{{grant.objectRef}}</label></span>
                                    <span class="col-1"><input type="button" class="btn btn-outline-primary btn-sm" (click)="addToDeleteGrantsList(grant); $event.stopPropagation()" value="x" /></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="!isNewGrant" class="row w-100 mt-3">
                    <div class="col-2 ms-auto">
                        <input type="button" class="btn btn-outline-primary btn-sm float-end" (click)="addGrant(); $event.stopPropagation()" value="add grants" />
                    </div>
                </div>

                <div *ngIf="isNewGrant" class="row w-100 mt-3">
                    <div class="col-10 ms-auto">
                        <grants-component class="row w-100 mt-3" [(isNewGrant)]="isNewGrant" [(user)]="user"></grants-component>
                    </div>
                </div>

                <div *ngIf="grants2remove" class="row w-100 mt-3">
                    <div class="col-10 ms-auto">
                        <div class="row w-100 mt-3">
                            <div class="container">
                                <div class="row w-100">
                                    <div class="col-11">
                                        <textarea class="form-control form-control-sm" rows="3" [(ngModel)]="grantsToRemove" name="_grantsToRemove" readonly></textarea>
                                    </div>
                                    <div class="col-1">
                                        <input type="button" class="btn btn-outline-primary btn-sm float-start" (click)="removeGrants()"  value="remove grants" />
                                        <input *ngIf="grantsToRemove" type="button" class="btn btn-outline-primary btn-sm float-start mt-1" (click)="resetGrants()" value="cancel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>