<div class="container" *ngIf="selectedUser">
    <div class="card text-white bg-primary text-end">
        <div class="card-body">
            <h4 class="card-title">{{selectedUser.loginname}}</h4>
        </div>
        <form class="list-group-item text-primary" name="form" (ngSubmit)="f.form.valid && saveUser()" #f="ngForm" novalidate>
            <div class="row w-100">
                <label for="selectedLoginName" class="col-2 col-form-label col-form-label-sm">loginname</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="text" name="loginname"
                        [(ngModel)]="selectedUser.loginname" id="selectedLoginName" required minlength="4"
                        value-not-allowed="new user" #loginname="ngModel" [readonly]="!isNewUser">
                    <div *ngIf="loginname.invalid && (loginname.dirty || loginname.touched)" class="text-danger">
                        <div *ngIf="loginname.errors.required">
                            loginname is required.
                        </div>
                        <div *ngIf="loginname.errors.minlength">
                            loginname must be at least 4 characters long.
                        </div>
                        <div *ngIf="loginname.errors.value-not-allowed">
                            loginname MUST NOT be new user.
                        </div>
                    </div>
                </div>
                <label *ngIf="!isNewUser" for="selectedId" class="col-1 col-form-label col-form-label-sm">id</label>
                <div *ngIf="!isNewUser" class="col-3">
                    <input class="form-control form-control-sm" type="text" name="id" [(ngModel)]="selectedUser.objectId"
                        id="selectedId" readonly>
                </div>
            </div>
            <div class="row w-100">
                <label for="selectedPassword" class="col-2 col-form-label col-form-label-sm">password</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="password" name="password"
                        [(ngModel)]="selectedUser.password" id="selectedPassword" readonly>
                </div>
                <div *ngIf="selectedUser.active == true && selectedUser.password" class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-end"
                        (click)="resetPassword(selectedUser)" name="resetPassword" value="save" />
                    <input type="button" class="btn btn-outline-primary btn-sm float-end"
                        (click)="generateRandomPassword(selectedUser)" name="generatePassword" value="generate" />
                </div>
                <div *ngIf="selectedUser.active == true && !selectedUser.password" class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-end"
                        (click)="generateRandomPassword(selectedUser)" name="generatePassword" value="generate" />
                </div>
            </div>
            <div class="row w-100">
                <label for="selectedActive" class="col-2 col-form-label col-form-label-sm">active</label>
                <div class="col-6">
                    <input class="form-control form-control-sm" type="text" name="active" [(ngModel)]="selectedUser.active"
                        id="selectedActive" readonly>
                </div>
                <div class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-end"
                        (click)="activateUser(selectedUser)" name="activate"
                        [value]="selectedUser.active === false ? 'activate' : 'deactivate'" />
                </div>
            </div>
            <div class="row w-100">
                <label for="selectedName" class="col-2 col-form-label col-form-label-sm">name</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="text" name="name" [(ngModel)]="selectedUser.name"
                        id="selectedName" required #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <div *ngIf="name.errors.required">
                            name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <label for="selectedEmail" class="col-2 col-form-label col-form-label-sm">email</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="email" name="email" [(ngModel)]="selectedUser.email"
                        id="selectedEmail">
                </div>
            </div>
            <div *ngIf="!isNewOu" class="row w-100">
                <label for="selectedOu" class="col-2 col-form-label col-form-label-sm">organization</label>
                <div *ngIf="selectedUser.affiliation" class="col-6">
                    <input class="form-control form-control-sm" type="text" name="ouid"
                        [(ngModel)]="selectedUser.affiliation.name" id="selectedOu" readonly>
                </div>
                <div *ngIf="selectedUser.active === true" class="col-4">
                    <input type="button" class="btn btn-outline-primary btn-sm float-end" (click)="changeOu()"
                        name="changeOu" value="change" />
                </div>
            </div>
            <div *ngIf="isNewUser || isNewOu" class="row w-100">
                <label for="ouSearchTerm" class="col-2 col-form-label col-form-label-sm">organization</label>
                <div class="col-10">
                    <input class="form-control form-control-sm" type="text" name="ouSearchTerm" [(ngModel)]="ouSearchTerm" (keyup)="getOus(ouSearchTerm)"
                     placeholder="search by name of organization" id="ouSearchTerm" autocomplete="off">
                    <div *ngIf="ous.length > 0">
                        <ul id="ouSuggestions" class="list-group" (clickOutside)="closeOus()">
                            <li *ngFor="let ou of ous" class="list-group-item-primary list-group-item-action py-0 text-start"
                            (click)="selectOu(ou)">
                            <small>{{ou.name}}</small>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-3 ms-auto">
                    <input type="button" class="btn btn-outline-primary btn-sm me-2" name="cancel" value="cancel"
                        (click)="gotoUserList()" />
                    <input type="button" class="btn btn-outline-primary btn-sm me-2" name="delete" value="delete"
                        (click)="deleteUser(selectedUser)" />
                    <input type="button" class="btn btn-outline-primary btn-sm" name="save" value="save"
                        (click)="saveUser(selectedUser)" />
                </div>
            </div>
            <div *ngIf="!isNewUser" class="w-100">
                <div class="row w-100">
                    <label for="addGrantButton" class="col-2 col-form-label col-form-label-sm">grants</label>
                    <div class="col-10 text-end">
                        <ul class="list-group">
                            <li class="list-group-item-primary list-group-item-action py-0 align-items-center"
                                *ngFor="let usergrant of selectedUser.grantList" (click)="goToRef(usergrant)">
                                <div class="row">
                                    <span class="col-4 text-start text-truncate">
                                        <label class="col-form-label-sm p-0 ms-2" [innerHtml]="usergrant.role"></label>
                                    </span>
                                    <span class="col-5 text-start text-truncate">
                                        <label class="col-form-label-sm p-0" [innerHtml]="usergrant.ctxTitle"></label>
                                    </span>
                                    <span class="col-2 text-start">
                                        <!--<label class="col-form-label-sm p-0" [innerHtml]="usergrant.objectRef" (mouseover)="viewRefTitle(usergrant)" data-bs-toggle="tooltip" data-placement="right" title="{{ctxTitle}}"></label>-->
                                        <label class="col-form-label-sm p-0" [innerHtml]="usergrant.objectRef"></label>
                                    </span>
                                    <span class="col-1">
                                        <input type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="deleteGrant(usergrant); $event.stopPropagation()"
                                            name="deleteGrant" value="x" />
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="!isNewGrant && selectedUser.active === true" class="row w-100">
                    <div class="col-2 ms-auto">
                        <input type="button" class="btn btn-outline-primary btn-sm float-end"
                            (click)="addGrant(); $event.stopPropagation()" name="addGrant" value="add grants" />
                    </div>
                </div>
                <div *ngIf="isNewGrant" class="row w-100">
                    <div class="col-10 ms-auto">
                        <grants-component class="row w-100" [(selectedUser)]="selectedUser" [token]="token"
                            [(isNewGrant)]="isNewGrant"></grants-component>
                    </div>
                </div>
                <div *ngIf="grants2remove" class="row w-100">
                    <div class="col-10 ms-auto">
                        <div class="row w-100">
                            <div class="col-9">
                                <textarea class="form-control form-control-sm" rows="3" name="grantsToRemove"
                                    [(ngModel)]="grantsToRemove" readonly></textarea>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn btn-outline-primary btn-sm float-start"
                                    name="removeGrants" value="remove grants" (click)="removeGrants()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>