<div class="container">
  <div class="card border-secondary text-secondary text-end m-1">
    <div class="card-header bg-white border-secondary text-secondary">
      <h4 class="card-title">Search Indices</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="searchForm" novalidate>
        <div class="row w-100 mb-5">
          <label class="col-2 col-form-label col-form-label-sm">index</label>
          <div class="col-10">
            <select class="select form-select form-select-sm border-secondary" formControlName="sourceIndex">
              <option [ngValue]="source.index" *ngFor="let source of sourceList">{{source.index}}</option>
            </select>
          </div>
        </div>
        <div formArrayName="searchTerms">
          <div *ngFor="let searchTerm of searchTerms.controls; let i=index">
            <div [formGroupName]="i">
              <search-term-component [searchTermForm]="searchTerms.controls[i]" [fields]="fields2Select" (notice)="handleNotification($event, i)"></search-term-component>
            </div>
          </div>
        </div>
        <div class="row w-100 mt-1">
          <div class="col-1 ms-auto">
            <input type="button" class="btn btn-outline-secondary btn-sm" [disabled]="!searchForm.valid" value="search" (click)="search()" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="m-2">
    <pre class="text-start" [hidden]="!searchResult">your query returned {{searchResult?.length}} record(s)</pre>
    <pre class="text-start" [hidden]="searchResult?.length==0">{{searchResult | json}}</pre>
  </div>
</div>