<p></p>
<div *ngIf="info; then tmplInfo else tmplNoInfo"></div>

<ng-template #tmplInfo>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <p>
      You're connected to a cluster called <strong>{{info.cluster_name}}</strong>
      <br />more exactly you're connected to node <strong>{{info.name}}</strong>
      <br />the version of elasticsearch is <strong>{{info.version.number}}</strong>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</ng-template>

<ng-template #tmplNoInfo>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>
      You're not connected to a cluster.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</ng-template>


<form #form="ngForm">
  <div class="row g-2">
    <div class="col-3">
      <label>connect 2</label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="host" name="_connect" #connect="ngModel" required>
      <div *ngIf="connect.invalid && (connect.dirty || connect.touched)" class="text-danger">connection is required</div>
    </div>
    <div class="col-12">
      <input type="button" [disabled]="form.invalid" class="btn btn-outline-secondary" (click)="connect2(host)" value="connect">
    </div>
  </div>
</form>

<p></p>
<h4>Info</h4>
<pre>{{info | json}}</pre>