<p></p>
<div *ngIf="info; then tmplInfo else tmplNoInfo"></div>

<ng-template #tmplInfo>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <p>
      You're connected to a cluster called <strong>{{info.cluster_name}}</strong>
      <br />more exactly you're connected to node <strong>{{info.name}}</strong>
      <br />the version of elasticsearch is <strong>{{info.version.number}}</strong>
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</ng-template>

<ng-template #tmplNoInfo>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>
      You're not connected to a cluster.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
</ng-template>

<p></p>
<h4>Info</h4>
<pre>{{info | json}}</pre>