<div class="container">
    <h3 class="text-success">Context Administration</h3>

    <div class="card card-inverse card-success text-right">
        <div class="card-block">
            <h4 class="card-title">Contexts</h4>
            <input type="submit" class="btn btn-success btn-sm" name="add" value="+" (click)="addNewContext()" />
        </div>
        <div class="row w-100 justify-content-center">
          <pagination (click) = "updatePaginator()"></pagination>
        </div>
        <ul class="list-group">
                    <div silver="lightgreen" class="list-group-item list-group-item-success p-1" *ngFor="let ctx of pagedCtxs" [class.selected]="isSelected(ctx)" (click)="goTo(ctx)">
                        <span class="col-sm-1">{{ctx.reference.objectId}}</span>
                        <span class="col-sm-10">{{ctx.name}}</span>
                        <span class="col-sm-1"> <input type="submit" class="btn btn-outline-success btn-sm float-right" (click)="delete(ctx); $event.stopPropagation()"
                                name="delete" value="x" /></span>
                    </div>
        </ul>
    </div>
</div>
