<div class="container" *ngIf="selected">
  <div class="card card-inverse card-primary text-right">
    <div class="card-block">
      <h4 class="card-title">{{selected.defaultMetadata.name}}</h4>
    </div>
    <div class="list-group-item text-primary">

      <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>

        <div class="form-group row">
          <label for="selected-ou-id" class="col-2 col-form-label col-form-label-sm">ouid</label>
          <div class="col-3">
            <input class="form-control form-control-sm" type="text" name="ouid" [(ngModel)]="selected.reference.objectId" id="selected-ou-id"
              [readonly]="!isNewOrganization">
          </div>
          <label for="selected-parent-id" class="col-1 col-form-label col-form-label-sm">parentid</label>
          <div class="col-3">
            <input *ngIf="selected.parentAffiliations.length > 0; else other_content" class="form-control form-control-sm" type="text" name="parentid" [(ngModel)]="selected.parentAffiliations[0].objectId"
              id="selected-parent-id">
              <ng-template #other_content><input class="form-control form-control-sm" type="text" readonly></ng-template>
          </div>
          <label for="selected-creator-id" class="col-1 col-form-label col-form-label-sm">creator</label>
          <div class="col-2">
            <input class="form-control form-control-sm" type="text" name="creator" [(ngModel)]="selected.creator.objectId" id="selected-creator-id"
              readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="selected-state" class="col-2 col-form-label col-form-label-sm">state</label>
          <div class="col-6">
            <input class="form-control form-control-sm" type="text" name="state" [(ngModel)]="selected.publicStatus" id="selected-state"
              readonly>
          </div>
          <div class="col-4">
            <input type="button" class="btn btn-outline-primary btn-sm float-right" (click)="openClose(selected)" name="openClose" [value]="selected.publicStatus === 'opened' ? 'close' : 'open'"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="selected-name" class="col-2 col-form-label col-form-label-sm">name</label>
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" name="ou-name" [(ngModel)]="selected.defaultMetadata.name" id="selected-name">
          </div>
        </div>
        <div class="form-group row">
          <label for="selected-alt-name" class="col-2 col-form-label col-form-label-sm">alternative name(s)</label>
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" name="ou-alt-name" [(ngModel)]="selected.defaultMetadata.alternativeNames"
              id="selected-alt-name">
          </div>
        </div>
        <div class="form-group row">
          <label for="selected-desc" class="col-2 col-form-label col-form-label-sm">description</label>
          <div class="col-10">
            <textarea class="form-control form-control-sm" type="text" name="desc" [(ngModel)]="selected.defaultMetadata.descriptions" id="selected-desc"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="selected-city" class="col-2 col-form-label col-form-label-sm">address</label>
          <div class="col-10">
            <input class="form-control form-control-sm" type="text" name="address" [(ngModel)]="selected.defaultMetadata.city" id="selected-city">
          </div>
        </div>
        <div *ngIf="selected.hasChildren === true" class="form-group row">
          <label for="childrenTable" class="col-2 col-form-label col-form-label-sm">children</label>
        </div>
        <div *ngIf="selected.hasChildren === true" class="form-group row no-gutters">
          <div class="col-10 offset-2">
            <table class="table table-hover table-sm">
              <tbody id="childrenTable">
                <tr class="list-group-item row p-0" *ngFor="let child of children" (click)="showDetails(child.reference.objectId)">
                  <th class="col-3 p-0" scope="row"><label class="col-form-label-sm">{{child.reference.objectId}}</label></th>
                  <th class="col-2 p-0" scope="row"><label class="col-form-label-sm">{{child.publicStatus}}</label></th>
                  <td class="col-6 p-0"><label class="col-form-label-sm">{{child.defaultMetadata.name}}</label></td>
                  <td class="col-1 p-0 text-right"><input type="button" class="btn btn-outline-primary btn-sm" (click)="deleteChild(child); $event.stopPropagation()"
                      name="deleteChild" value="x" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="selected.hasPredecessors === true" class="form-group row">
          <label for="predecessorsTable" class="col-2 col-form-label col-form-label-sm">predecessors</label>
        </div>
        <div *ngIf="selected.hasPredecessors === true" class="form-group row">
          <div class="col-10 offset-2">
            <table class="table table-hover table-sm">
              <tbody id="predecessorsTable">
                <tr class="list-group-item row p-0" *ngFor="let predecessor of predecessors" (click)="showDetails(predecessor.reference.objectId)">
                  <th class="col-3 p-0" scope="row"><label class="col-form-label-sm">{{predecessor.reference.objectId}}</label></th>
                  <th class="col-2 p-0" scope="row"><label class="col-form-label-sm">{{predecessor.publicStatus}}</label></th>
                  <td class="col-6 p-0"><label class="col-form-label-sm">{{predecessor.defaultMetadata.name}}</label></td>
                  <td class="col-1 p-0 text-right"><input type="button" class="btn btn-outline-primary btn-sm" (click)="deleteChild(predecessor); $event.stopPropagation()"
                      name="deletePredecessor" value="x" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2 offset-10">
            <input type="button" class="btn btn-outline-primary btn-sm" name="cancel" value="cancel" (click)="gotoList()" />
            <input type="button" class="btn btn-outline-primary btn-sm" name="save" value="save" (click)="save(selected)" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>